/Server/bin
/JustUO.pdb
/JustUO.exe
/Server/obj
/Server/Server.csproj.user
/Scripts/bin
/Scripts/obj
/Scripts/Scripts.csproj.user
/Scripts/Output
/Logs
/Saves
/Backups
*.log
*.suo
/VitaNexCore
/.JustCode